<div class="wrapper-login-form d-flex d-all-center">
<div class="login-form">
    <div class="d-flex d-all-center">
        <i class="logo-icon uil uil-apps"></i>
    </div>
    <pre>
        {{registerForm.value | json}}
    </pre>
    <div>
        <button class="btn-primary"(click)="testLoaded()">
            Cargar data
        </button>
        <hr>
        <button class="btn-primary"(click)="testUpdate()">
            actualizar data
        </button>
    </div>
    <form [formGroup]="registerForm" (submit)="sendCredentials()" class="form d-flex">
        <div class="form-input">
            <input formControlName="email" 
            type="text" placeholder="Introduzca el correo electrónico">
        </div>
        <div class="form-input">
            <input formControlName="name" 
            type="text" placeholder="Introduzca nombre">
        </div>
        <div class="form-input">
            <input formControlName="lastName" 
            type="text" placeholder="Introduzca Apellido">
        </div>
        <div class="form-input">
            <input formControlName="phone" 
            type="text" placeholder="Introduzca Telefono">
        </div>
        <div class="form-input">
            <input formControlName="password" 
            type="password" placeholder="Introduzca la contraseña">
        </div>
        <div class="form-input">
            <input formControlName="passwordConfirm" 
            type="password" placeholder="Confirmar la contraseña">
        </div> 
        <div class="form-input">
            <button 
           
            class="btn-primary">Continuar</button>
        </div>
        
     
    </form>
        
    <!-- <button [routerLink]="'../login'" class="btn-primary">volver</button>   [disabled]="registerForm.invalid || registerForm.pending"  -->
</div>

</div>